.key-binding {
  float: left;
  margin: 5px -25px 0 10px;
}

.key-binding-input {
  border: none;
  outline: none;
  width: 18px;
  float: left;
  margin: -1px -25px 0 10px;
  border-radius: 5px;
  cursor: text !important;
}