.step-sequencer {
  background-color: #1f222b;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 170px;
  border-radius: 10px;
  border: 1px solid #3c4457;
  color: white;
  width: 70%;
  filter: contrast(1.3);
}

.border-left {
  border-left: 1px solid #3c4457 !important;
}

.sample-button {
  background-color: #3C4457;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: lighter;
}

.sample-button :hover {
  cursor: pointer;
}

.beat-bar {
  height: 23px;
  width: 15px;
  background-color: #2E323B;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.active {
  background-color: black;
}

.playing {
  background-color: #1F273A !important;
  box-shadow: 0 0 12px 0 rgba(0,135,255,.8);
}

.activePlay {
  background-color: white;
}

.sample-preview {
  float: right;
  margin: 5px 25px 0px -20px;
}